In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1. Load our dataset to a Dataframe

In [11]:
df_exams = pd.read_csv('./datasets/exams.csv')
df_exams.info()
df_exams.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   patientId  100 non-null    int64
 1   sex        100 non-null    object
 2   age        100 non-null    int64
 3   weight     100 non-null    int64
 4   height     100 non-null    int64
 5   result     100 non-null    int64
dtypes: int64(5), object(1)
memory usage: 4.8+ KB

   patientId sex  age  weight  height  result
0          1   M   46      83     165      98
1          2   F   23      83     164      82
2          3   M   39      71     154      93
3          4   F   26     103     165      95
4          5   M   27      55     176     100

2. Preprocess the data by removing the missing values and the outliers
  - We saw that in this dataset we don't have any missing values, so we don't need to remove any rows or columns.
  - This dataset has no outliers, so we don't need to remove any rows or columns.
  - It's important to notice that we don't need the column "patientId" for our analysis, so we will remove it.
  - Our "sex" column has the values "M" and "F", we will convert them using [one-hot encoding](https://en.wikipedia.org/wiki/One-hot).

In [12]:
df_exams.drop(columns=['patientId'], axis=1, inplace=True)
df_exams = pd.get_dummies(df_exams, columns=['sex'], dtype='int64')
df_exams.head()

   age  weight  height  result  sex_F  sex_M
0   46      83     165      98      0      1
1   23      83     164      82      1      0
2   39      71     154      93      0      1
3   26     103     165      95      1      0
4   27      55     176     100      0      1